{{ partial "header.html" . }}
    <body>
       {{ partial "nav.html" . }}
        <section id="wrapper" class="post">
            <article>
                <header>
                    <h1>
                        {{ .Title }}
                    </h1>
                    <h2 class="headline">
                    {{ .Date.Format "Jan 2, 2006" }}
                    · {{ .ReadingTime }} minute read
                    </h2>
                </header>
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>
            {{ partial "footer.html" . }}
        </section>
        {{ partial "js.html" . }}
    </body>
</html>
