<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}
    <p class="small">
        Copyright © {{ now.Format "2006"}} {{ .Site.Params.Author }}
    </p>
    <p class="small">
      Powered by <a href="http://www.gohugo.io/">Hugo
    </p>
</footer>
