<ul id="post-list">
    {{ range where .Paginator.Pages "Params.hidden" "ne" "true" }}
    {{ $url := replace .Permalink .Site.BaseURL "" }}
        {{ if ne $url "about/" }}
            <li>
                <aside class="dates">{{ .Date.Format "Jan 2" }}</aside>
                <a href='{{ .Permalink }}'>
                    {{ .Title }}
                    {{ if .Description }}
                      <h2>{{ .Description | plainify }}</h2>
                    {{ end }}
                </a>
            </li>
        {{ end }}
    {{ end }}
</ul>
