<div class="profile">
    <section id="wrapper">
        <header id="header-about">
            <a href='{{ .Site.BaseURL }}about'>
                <img id="avatar" class="2x" src="{{ .Site.BaseURL }}images/avatar.png"/>
            </a>
        </header>
    </section>
</div>
