{{ partial "header.html" . }}
<body>
{{ partial "nav.html" . }}
{{ partial "profile-about.html" . }}
<section id="wrapper" class="home">
    {{ .Content }}
    {{ partial "footer.html" . }}
</section>
{{ partial "js.html" . }}
</body>
